body {
    padding: 10px;
}

.listing.image {
    max-width: 300px;
    max-height: 300px;
}
.listing_image_url {
    width: 150px;
    height: auto;
    padding: 20px;
}
.table,tr,th {
    border: 1px solid black;
}
