{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

<table class="active_listing">
    {% for item in items %}
    <tr>
        <th><img class="listing_image_url" src="{{ item.0.image_url }}"></th>
        <th class=>
            <a class="listing_title" href="listing/{{ item.0.id }}">{{ item.0.item }}</a>
            <br/>Description: {{ item.0.description }}
            <br/>Price: {{ item.0.currency }} {{ item.1 }}
            <br/>Created on {{ item.0.created }}
        
    </tr>
    {% endfor %}
</table>

</ul>
{% endblock %}