{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<h2>Listing: {{ item.item }}</h2>

<ul>
    <img class="listing image" src="{% static item.image %}">
    <br />
    {{ item.description }}
    <br />
    {{ item.currency }} {{ price }}
</ul>
<h6> {{ total_bids }} bid(s) so far. </h6>
{% if user.is_authenticated %}
{% if total_bids > 0 %}
{% if is_max_bid %}
You are the current max bid.
{% else %}
You are not the current max bid.
{% endif %}
{% endif %}

<div class="bid">
    <form action="{% url 'bid' %}" method="post">
        {% csrf_token %}
        <table>
        {{ bid_form.item }}
        {{ bid_form.bid }}
        </table>
        <input type="submit" value="Place Bid"> 
    </form> 
</div>

{% else %}
<a class="nav-link" href="{% url 'login' %}">Log in to bid</a>
{% endif %}

<h3>Details</h3>
<ul>
    <li>Listed by: {{ item.created_by.first_name }} {{ item.created_by.last_name }}</li>
    <li>Categories</li>
</ul>
{% endblock %}