{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Listing: {{ item.item }}</h2>

    <ul>
        <img class="listing image" src="{% static item.image %}">
        <br/>
        {{ item.description }}
        <br/>
        {{ item.currency }} {{ item.price }}
    </ul>
    <h6>  bid(s) so far. xxx is the current bid.</h6>
    <button type="button"> Place Bid</button>
    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ item.created_by.first_name }} {{ item.created_by.last_name }}</li>
        <li>Categories</li>
    </ul>
{% endblock %}